* {
    margin: 0;
    scroll-behavior: smooth;
}

/* chrome, safari, edge, opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.greenColor {
    color: #274 !important;
}

.redColor {
    color: rgb(180, 1, 1) !important;
}